.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 68px;
  padding: 0 4px;
}

.sidebar-link {
  width: 64px;
  height: 46px;
  padding-top: 16px;
  padding-bottom: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sidebar-link:hover {
  background-color: rgb(242, 242, 242);
  cursor: pointer;
  border-radius: 10px;
}

.sidebar-link:active {
  background-color: lightgray;
}

.sidebar-icon {
  width: 24px;
}
.sidebar-text {
  text-align: center;
  font-size: 10px;
}