.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 60px;
  padding: 0 24px;
}

@media (max-width: 603px) {
  .video-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 604px) and (max-width: 961px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 962px) and (max-width: 1823px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1824px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video {
  transition: box-shadow 0.25s, background-color 0.25s;
  border-radius: 12px;
}
.video:hover {
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
}

 .thumbnail-row {
  margin-bottom: 10px;
  position: relative;
 }

.thumbnail {
  width: 100%;
  border-radius: 12px;
 }

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile {
  width: 36px;
  border-radius: 50%;
}

.video-title {
  font-size: 15.2px;
  font-weight: 500;
  line-height: 20px;
 }

.video-author, .video-stats {
  font-size: 14px;
   line-height: 20px;
   color: rgb(96, 96, 96);
}

.video-time {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  bottom: 12px;
  right: 8px;
  padding: 1px 4px;
  font-size: 12px;
  font-weight: 500;
  height: 18px;
  display: flex;
  align-items: center;
  border-radius: 3px;
}